[run]
source = src
omit =
    */tests/*
    */__pycache__/*
parallel = true
concurrency = thread,multiprocessing
branch = true

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
show_missing = true
skip_covered = false

